.hidden { display: none; }

#configForm {
  background: #3a3f70;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 30px;
  text-align: center;
  max-width: 500px;
  width: 100%;
}

#configForm input[type="text"] {
  width: 50px;
  font-size: 24px;
  text-align: center;
  margin: 5px;
}
